<div class="navContainer">
    <div></div>
    <!-- Logo -->
    <div>
        <img src="/img/kv_logo.png" alt="Logo">
    </div>
    <div></div>
    <div></div>
    <div class="navOptions">
        <!-- Search Button -->
        <div class="search">
            <input type="image" src="/img/search.png" alt="search">
        </div>
        <!-- + Button -->
        <div class="add">
            <input type="image" src="/img/plus.png" alt="plus" onclick="addItemForm()" >
        </div>
    </div>
    <div></div>
</div>