<div class="navContainer">
    <div></div>
    <!-- Logo -->
    <div>
        <img src="/img/kv_logo.png" alt="Logo">
    </div>
    <div></div>
    <div></div>
    <div class="navOptions">
        <!-- Search Button -->
        <div>
            <img src="/img/search.png" alt="search" id="search">
        </div>
        <!-- + Button -->
        <div>
            <img src="/img/plus.png" alt="plus" id="add">
        </div>
    </div>
    <div></div>
</div>