<div class="navContainer">
    <div></div>
    <!-- Logo -->
    <div>
        <img src="/img/kv_logo.png" alt="Logo">
    </div>
    <div></div>
    <div></div>
    
    <div>
    <!-- + Button -->
        <img src="/img/plus.png" alt="plus" id="add">
    <!-- Search Button -->
        <img src="/img/search.png" alt="" id="search">
    </div>
    <div></div>
</div>