body, html {
  margin:0;
  padding:0;
  background-color: #394447;
  color: white;
}

.navContainer {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 1fr 65px;
  grid-template-rows: auto;
  overflow: hidden;
}

.navContainer img {
  height: 200px;
  width: auto;
}

.navOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  overflow: hidden;
}
.navOptions img {
  height: 50px;
  width: auto;
}
.add {
  align-content: start;
  justify-content: start;
}
.search {
  align-content: start;
  justify-content: end;
}

.bodyOptions {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 1fr 1fr 1fr 65px;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}