body, html {
  margin:0;
  padding:0;
  background-color: #394447;
  color: white;
}

.navContainer {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 1fr 65px;
  grid-template-rows: auto;
  overflow: hidden;
}

.navContainer > img {
  height: 200px;
  width: auto;
}