<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navBar.ejs %>
  <div class="bodyContainer">
    <div class="bodyOptions">
      <div></div>
      <div><input type="image" src="/img/all_btn.png" alt="all" id="all" onclick="getAll()"></div>
      <div><input type="image" src="/img/meat_btn.png" alt="meat" id="item" value="meat" onclick="searchByItem()"></div>
      <div><input type="image" src="/img/produce_btn.png" alt="produce" id="item" value="produce" onclick="searchByItem()"></div>
      <div><input type="image" src="/img/dairy_btn.png" alt="dairy" id="item" value="dairy" onclick="searchByItem()"></div>
      <div><input type="image" src="/img/grain_btn.png" alt="grain" id="item" value="grain" onclick="searchByItem()"></div>
      <div><input type="image" src="/img/other_btn.png" alt="other" id="item" value="other" onclick="searchByItem()"></div>
      <div></div>
    </div>
  </div>
</body>
</html>
