<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navBar.ejs %>
  <div class="bodyContainer">
    <div class="bodyOptions">
      <div></div>
      <div><input type="image" src="/img/all_btn.png" alt="all" id="all"></div>
      <div><input type="image" src="/img/meat_btn.png" alt="meat" id="meat"></div>
      <div><input type="image" src="/img/produce_btn.png" alt="produce" id="produce"></div>
      <div><input type="image" src="/img/dairy_btn.png" alt="dairy" id="dairy"></div>
      <div><input type="image" src="/img/grain_btn.png" alt="grain" id="grain"></div>
      <div><input type="image" src="/img/other_btn.png" alt="other" id="other"></div>
      <div></div>
    </div>
  </div>
</body>
</html>
